In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings

In [2]:
parent_directory = '/Users/pajhaver/Documents/AQI_Research'

In [3]:
pollutant_files = ['CO_illinois', 'NO2_illinois', 'OZ_illinois', 'PM10_illinois'
                  ,'PM25_illinois','SO2_illinois']

pollutant_files = ['CO_illinois']

drop_met_cols = ['dew_point_temperature_set_1_Fahrenheit', 'wind_gust_set_1_Miles/hour', 'weather_cond_code_set_1_code',
                'cloud_layer_3_code_set_1_code', 'precip_accum_one_hour_set_1_Inches', 'precip_accum_three_hour_set_1_Inches', 
                'cloud_layer_1_code_set_1_code', 'cloud_layer_2_code_set_1_code', 'precip_accum_six_hour_set_1_Inches', 
                 'precip_accum_24_hour_set_1_Inches', 'visibility_set_1_Statute miles', 'metar_remark_set_1_text', 'metar_set_1_text',
                'air_temp_high_6_hour_set_1_Fahrenheit', 'ceiling_set_1_Feet', 'air_temp_high_24_hour_set_1_Fahrenheit', 'air_temp_low_24_hour_set_1_Fahrenheit',
                'dew_point_temperature_set_1d_Fahrenheit', 'wind_chill_set_1d_Fahrenheit', 'pressure_set_1d_INHG',
                'sea_level_pressure_set_1d_INHG', 'heat_index_set_1d_Fahrenheit', 'air_temp_low_6_hour_set_1_Fahrenheit']

drop_pol_cols = ['AQS_SITE_ID', 'POC','UNITS', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE']

In [4]:
def get_dataset_per_year(year):
    df_meteorological = pd.DataFrame()
    for i in range(1,13):
        df_met_read = pd.read_csv(parent_directory + '/meterological_data/' + str(year) + '/' + str(i) + '.csv', skiprows=[0,1,2,3,4,5], header = [0,1])
        df_met_read.columns = df_met_read.columns.map('_'.join)
        df_meteorological = pd.concat([df_meteorological, df_met_read])

    df_meteorological['Date_Time_Unnamed: 1_level_1'] = pd.to_datetime(df_meteorological['Date_Time_Unnamed: 1_level_1'])
    df_meteorological.index = df_meteorological['Date_Time_Unnamed: 1_level_1']
    df_meteorological_hourly = df_meteorological.resample('H').mean()
    df_meteorological_hourly = df_meteorological_hourly.drop(columns = drop_met_cols)

    pol_count = 0

    for pollutant in pollutant_files:
        df_pollutant = pd.read_csv(parent_directory + '/pollutant_data/' + str(year) + '/' + pollutant + '.csv')
        df_pollutant = df_pollutant.drop(columns = drop_pol_cols)
        df_pollutant['Date'] = pd.to_datetime(df_pollutant['Date'])
        df_pollutant.index = df_pollutant['Date']
        df_pollutant = df_pollutant.drop(columns = 'Date')
        df_pollutant_15DaysMean = df_pollutant.resample('15D').mean()
        df_pollutant_hourly = df_pollutant_15DaysMean.resample('H').ffill()
        print(df_pollutant_hourly)
        if pol_count == 0:
            df_merged_temp = df_meteorological_hourly.join(df_pollutant_hourly, how = 'left')
        else:
            df_merged_temp = df_merged_temp.join(df_pollutant_hourly, lsuffix='_MAX', rsuffix='_NEW', how = 'left')
            df_merged_temp['DAILY_AQI_VALUE'] = df_merged_temp[['DAILY_AQI_VALUE_MAX', 'DAILY_AQI_VALUE_NEW']].max(axis=1)
            df_merged_temp = df_merged_temp.drop(columns = ['DAILY_AQI_VALUE_MAX', 'DAILY_AQI_VALUE_NEW'])
        pol_count += 1
    

    return df_merged_temp

In [5]:
df_final_dataset = get_dataset_per_year(2009)

                     Daily Max 8-hour CO Concentration  DAILY_AQI_VALUE
Date
2009-01-01 00:00:00                           0.335714         3.714286
2009-01-01 01:00:00                           0.335714         3.714286
2009-01-01 02:00:00                           0.335714         3.714286
2009-01-01 03:00:00                           0.335714         3.714286
2009-01-01 04:00:00                           0.335714         3.714286
2009-01-01 05:00:00                           0.335714         3.714286
2009-01-01 06:00:00                           0.335714         3.714286
2009-01-01 07:00:00                           0.335714         3.714286
2009-01-01 08:00:00                           0.335714         3.714286
2009-01-01 09:00:00                           0.335714         3.714286
2009-01-01 10:00:00                           0.335714         3.714286
2009-01-01 11:00:00                           0.335714         3.714286
2009-01-01 12:00:00                           0.335714         3.714286
2009-01-01 13:00:00                           0.335714         3.714286
2009-01-01 14:00:00                           0.335714         3.714286
2009-01-01 15:00:00                           0.335714         3.714286
2009-01-01 16:00:00                           0.335714         3.714286
2009-01-01 17:00:00                           0.335714         3.714286
2009-01-01 18:00:00                           0.335714         3.714286
2009-01-01 19:00:00                           0.335714         3.714286
2009-01-01 20:00:00                           0.335714         3.714286
2009-01-01 21:00:00                           0.335714         3.714286
2009-01-01 22:00:00                           0.335714         3.714286
2009-01-01 23:00:00                           0.335714         3.714286
2009-01-02 00:00:00                           0.335714         3.714286
2009-01-02 01:00:00                           0.335714         3.714286
2009-01-02 02:00:00                           0.335714         3.714286
2009-01-02 03:00:00                           0.335714         3.714286
2009-01-02 04:00:00                           0.335714         3.714286
2009-01-02 05:00:00                           0.335714         3.714286
...                                                ...              ...
2009-12-25 19:00:00                           0.540000         6.266667
2009-12-25 20:00:00                           0.540000         6.266667
2009-12-25 21:00:00                           0.540000         6.266667
2009-12-25 22:00:00                           0.540000         6.266667
2009-12-25 23:00:00                           0.540000         6.266667
2009-12-26 00:00:00                           0.540000         6.266667
2009-12-26 01:00:00                           0.540000         6.266667
2009-12-26 02:00:00                           0.540000         6.266667
2009-12-26 03:00:00                           0.540000         6.266667
2009-12-26 04:00:00                           0.540000         6.266667
2009-12-26 05:00:00                           0.540000         6.266667
2009-12-26 06:00:00                           0.540000         6.266667
2009-12-26 07:00:00                           0.540000         6.266667
2009-12-26 08:00:00                           0.540000         6.266667
2009-12-26 09:00:00                           0.540000         6.266667
2009-12-26 10:00:00                           0.540000         6.266667
2009-12-26 11:00:00                           0.540000         6.266667
2009-12-26 12:00:00                           0.540000         6.266667
2009-12-26 13:00:00                           0.540000         6.266667
2009-12-26 14:00:00                           0.540000         6.266667
2009-12-26 15:00:00                           0.540000         6.266667
2009-12-26 16:00:00                           0.540000         6.266667
2009-12-26 17:00:00                           0.540000         6.266667
2009-12-26 18:00:00                           0.540000         6.266667
2009-12-26 19:00:00                           0.540000         6.266667
2009-12-26 20:00:00                           0.540000         6.266667
2009-12-26 21:00:00                           0.540000         6.266667
2009-12-26 22:00:00                           0.540000         6.266667
2009-12-26 23:00:00                           0.540000         6.266667
2009-12-27 00:00:00                           0.580000         6.800000

[8641 rows x 2 columns]

In [6]:
len(df_final_dataset)

8760

In [7]:
df_final_dataset[df_final_dataset['DAILY_AQI_VALUE'].isnull()]

,altimeter_set_1_INHG,air_temp_set_1_Fahrenheit,relative_humidity_set_1_%,wind_speed_set_1_Miles/hour,wind_direction_set_1_Degrees,Daily Max 8-hour CO Concentration,DAILY_AQI_VALUE
Date_Time_Unnamed: 1_level_1,,,,,,,
2009-03-17 00:00:00,29.480000,56.6,39.126667,1.146667,26.666667,NaN,NaN
2009-03-17 01:00:00,29.480000,53.6,46.953333,0.000000,0.000000,NaN,NaN
2009-03-17 02:00:00,29.483333,47.6,65.970000,0.000000,0.000000,NaN,NaN
2009-03-17 03:00:00,29.486667,45.2,72.273333,0.000000,0.000000,NaN,NaN
2009-03-17 04:00:00,29.490000,45.8,79.450000,1.146667,56.666667,NaN,NaN
2009-03-17 05:00:00,29.500000,45.8,87.293333,0.000000,0.000000,NaN,NaN
2009-03-17 06:00:00,29.493333,44.0,89.160000,1.146667,56.666667,NaN,NaN
2009-03-17 07:00:00,29.496667,45.2,85.160000,0.000000,0.000000,NaN,NaN
2009-03-17 08:00:00,29.486667,44.6,87.090000,1.536667,66.666667,NaN,NaN
2009-03-17 09:00:00,29.476667,44.0,87.056667,2.683333,126.666667,NaN,NaN
2009-03-17 10:00:00,29.483333,43.4,87.023333,1.536667,63.333333,NaN,NaN
2009-03-17 11:00:00,29.473333,42.2,87.126667,6.136667,190.000000,NaN,NaN
2009-03-17 12:00:00,29.476667,44.6,83.163333,4.990000,193.333333,NaN,NaN
2009-03-17 13:00:00,29.473333,50.0,76.310000,7.673333,196.666667,NaN,NaN
2009-03-17 14:00:00,29.470000,56.6,64.330000,12.653333,210.000000,NaN,NaN
2009-03-17 15:00:00,29.466667,62.0,57.920000,14.200000,210.000000,NaN,NaN
2009-03-17 16:00:00,29.443333,66.8,46.880000,16.493333,210.000000,NaN,NaN
2009-03-17 17:00:00,29.420000,69.8,41.290000,19.176667,213.333333,NaN,NaN
2009-03-17 18:00:00,29.390000,71.0,39.696667,15.733333,210.000000,NaN,NaN
2009-03-17 19:00:00,29.366667,72.2,36.413333,16.883333,216.666667,NaN,NaN
2009-03-17 20:00:00,29.346667,73.4,34.133333,18.803333,216.666667,NaN,NaN
2009-03-17 21:00:00,29.326667,73.4,34.133333,18.026667,213.333333,NaN,NaN
2009-03-17 22:00:00,29.316667,71.6,37.106667,15.336667,210.000000,NaN,NaN
2009-03-17 23:00:00,29.316667,68.6,42.110000,6.136667,140.000000,NaN,NaN
2009-03-18 00:00:00,29.330000,65.0,48.756667,10.740000,210.000000,NaN,NaN
2009-03-18 01:00:00,29.340000,62.0,56.623333,9.980000,206.666667,NaN,NaN
2009-03-18 02:00:00,29.340000,60.8,59.050000,12.266667,210.000000,NaN,NaN
2009-03-18 03:00:00,29.340000,60.2,60.350000,14.190000,213.333333,NaN,NaN
2009-03-18 04:00:00,29.340000,58.4,61.490000,15.736667,216.666667,NaN,NaN
2009-03-18 05:00:00,29.363333,58.4,60.106667,12.663333,246.666667,NaN,NaN
...,...,...,...,...,...,...,...
2009-12-30 18:00:00,29.383333,29.6,82.076667,9.976667,196.666667,NaN,NaN
2009-12-30 19:00:00,29.350000,30.2,80.040000,10.360000,193.333333,NaN,NaN
2009-12-30 20:00:00,29.336667,30.2,80.040000,11.126667,193.333333,NaN,NaN
2009-12-30 21:00:00,29.330000,30.2,80.040000,9.600000,193.333333,NaN,NaN
2009-12-30 22:00:00,29.326667,30.2,84.186667,9.590000,190.000000,NaN,NaN
2009-12-30 23:00:00,29.316667,30.2,86.260000,8.050000,186.666667,NaN,NaN
2009-12-31 00:00:00,29.310000,30.2,86.260000,8.440000,180.000000,NaN,NaN
2009-12-31 01:00:00,29.306667,30.2,88.476667,7.670000,193.333333,NaN,NaN
2009-12-31 02:00:00,29.283333,30.2,92.910000,8.830000,190.000000,NaN,NaN
2009-12-31 03:00:00,29.270000,32.0,86.370000,8.060000,193.333333,NaN,NaN
2009-12-31 04:00:00,29.270000,33.2,88.640000,9.210000,203.333333,NaN,NaN
2009-12-31 05:00:00,29.260000,33.8,86.480000,8.440000,210.000000,NaN,NaN
2009-12-31 06:00:00,29.250000,33.8,86.480000,7.670000,213.333333,NaN,NaN
2009-12-31 07:00:00,29.243333,33.8,86.480000,5.370000,220.000000,NaN,NaN
2009-12-31 08:00:00,29.250000,33.8,86.480000,5.370000,220.000000,NaN,NaN
2009-12-31 09:00:00,29.240000,33.8,86.480000,3.830000,223.333333,NaN,NaN
2009-12-31 10:00:00,29.250000,33.8,86.480000,4.220000,223.333333,NaN,NaN
2009-12-31 11:00:00,29.256667,33.8,86.480000,5.370000,226.666667,NaN,NaN
2009-12-31 12:00:00,29.266667,33.8,86.480000,6.523333,253.333333,NaN,NaN
2009-12-31 13:00:00,29.280000,33.8,86.480000,6.523333,260.000000,NaN,NaN
2009-12-31 14:00:00,29.293333,33.8,86.480000,8.050000,263.333333,NaN,NaN
2009-12-31 15:00:00,29.303333,33.8,86.480000,7.670000,283.333333,NaN,NaN
2009-12-31 16:00:00,29.320000,33.8,78.426667,6.910000,276.666667,NaN,NaN
2009-12-31 17:00:00,29.320000,33.8,76.513333,9.586667,276.666667,NaN,NaN
2009-12-31 18:00:00,29.320000,31.4,78.213333,11.886667,273.333333,NaN,NaN
2009-12-31 19:00:00,29.336667,29.6,76.096667,12.653333,256.666667,NaN,NaN
2009-12-31 20:00:00,29.363333,27.2,75.870000,14.190000,266.666667,NaN,NaN
2009-12-31 21:00:00,29.386667,24.8,77.603333,14.200000,270.000000,NaN,NaN
2009-12-31 22:00:00,29.416667,23.6,73.516667,11.893333,276.666667,NaN,NaN
2009-12-31 23:00:00,29.443333,20.6,69.440000,11.513333,286.666667,NaN,NaN

In [8]:
df_final_dataset.describe()

,altimeter_set_1_INHG,air_temp_set_1_Fahrenheit,relative_humidity_set_1_%,wind_speed_set_1_Miles/hour,wind_direction_set_1_Degrees,Daily Max 8-hour CO Concentration,DAILY_AQI_VALUE
count,8705.000000,8705.000000,8705.000000,8659.000000,8659.000000,7921.000000,7921.000000
mean,29.358704,49.471631,71.046883,6.918005,138.455846,0.319823,3.488217
std,0.221498,19.445735,17.226614,5.635774,108.402389,0.072907,0.921640
min,28.320000,-18.400000,22.790000,0.000000,0.000000,0.200000,2.000000
25%,29.216667,35.600000,58.903333,2.293333,30.000000,0.271429,2.866667
50%,29.370000,51.800000,72.600000,6.516667,136.666667,0.313333,3.333333
75%,29.486667,64.400000,85.503333,10.360000,233.333333,0.333333,3.714286
max,30.036667,92.600000,100.000000,31.846667,360.000000,0.580000,6.800000

In [9]:
df_final_dataset

,altimeter_set_1_INHG,air_temp_set_1_Fahrenheit,relative_humidity_set_1_%,wind_speed_set_1_Miles/hour,wind_direction_set_1_Degrees,Daily Max 8-hour CO Concentration,DAILY_AQI_VALUE
Date_Time_Unnamed: 1_level_1,,,,,,,
2009-01-01 00:00:00,29.743333,17.6,61.920000,6.136667,256.666667,0.335714,3.714286
2009-01-01 01:00:00,29.743333,17.6,61.920000,3.440000,273.333333,0.335714,3.714286
2009-01-01 02:00:00,29.733333,15.8,70.750000,3.830000,246.666667,0.335714,3.714286
2009-01-01 03:00:00,29.713333,17.6,67.190000,2.683333,160.000000,0.335714,3.714286
2009-01-01 04:00:00,29.690000,17.6,70.963333,2.683333,106.666667,0.335714,3.714286
2009-01-01 05:00:00,29.670000,17.6,72.850000,4.990000,170.000000,0.335714,3.714286
2009-01-01 06:00:00,29.643333,17.6,74.880000,7.290000,173.333333,0.335714,3.714286
2009-01-01 07:00:00,29.623333,18.8,75.020000,9.590000,176.666667,0.335714,3.714286
2009-01-01 08:00:00,29.613333,19.4,71.180000,11.120000,173.333333,0.335714,3.714286
2009-01-01 09:00:00,29.570000,19.4,75.073333,10.356667,160.000000,0.335714,3.714286
2009-01-01 10:00:00,29.546667,21.2,73.250000,12.273333,173.333333,0.335714,3.714286
2009-01-01 11:00:00,29.520000,21.2,73.250000,12.653333,170.000000,0.335714,3.714286
2009-01-01 12:00:00,29.503333,21.2,77.256667,12.273333,173.333333,0.335714,3.714286
2009-01-01 13:00:00,29.490000,21.2,79.260000,14.580000,176.666667,0.335714,3.714286
2009-01-01 14:00:00,29.480000,22.4,75.386667,16.503333,176.666667,0.335714,3.714286
2009-01-01 15:00:00,29.470000,23.6,71.670000,17.260000,180.000000,0.335714,3.714286
2009-01-01 16:00:00,29.443333,26.0,64.836667,19.563333,176.666667,0.335714,3.714286
2009-01-01 17:00:00,29.390000,27.8,65.080000,18.803333,173.333333,0.335714,3.714286
2009-01-01 18:00:00,29.330000,28.4,61.860000,19.943333,186.666667,0.335714,3.714286
2009-01-01 19:00:00,29.273333,29.0,61.950000,16.113333,180.000000,0.335714,3.714286
2009-01-01 20:00:00,29.210000,30.2,58.950000,18.410000,176.666667,0.335714,3.714286
2009-01-01 21:00:00,29.193333,30.2,58.950000,13.800000,186.666667,0.335714,3.714286
2009-01-01 22:00:00,29.190000,30.2,58.950000,11.510000,205.000000,0.335714,3.714286
2009-01-01 23:00:00,29.186667,30.2,63.700000,9.600000,203.333333,0.335714,3.714286
2009-01-02 00:00:00,29.177500,28.4,69.927500,9.505000,205.000000,0.335714,3.714286
2009-01-02 01:00:00,29.146667,28.4,74.030000,10.356667,203.333333,0.335714,3.714286
2009-01-02 02:00:00,29.146667,30.2,74.220000,11.893333,223.333333,0.335714,3.714286
2009-01-02 03:00:00,29.133333,30.8,72.480000,12.660000,233.333333,0.335714,3.714286
2009-01-02 04:00:00,29.120000,32.0,69.000000,12.273333,230.000000,0.335714,3.714286
2009-01-02 05:00:00,29.116667,30.8,72.480000,12.273333,230.000000,0.335714,3.714286
...,...,...,...,...,...,...,...
2009-12-30 18:00:00,29.383333,29.6,82.076667,9.976667,196.666667,NaN,NaN
2009-12-30 19:00:00,29.350000,30.2,80.040000,10.360000,193.333333,NaN,NaN
2009-12-30 20:00:00,29.336667,30.2,80.040000,11.126667,193.333333,NaN,NaN
2009-12-30 21:00:00,29.330000,30.2,80.040000,9.600000,193.333333,NaN,NaN
2009-12-30 22:00:00,29.326667,30.2,84.186667,9.590000,190.000000,NaN,NaN
2009-12-30 23:00:00,29.316667,30.2,86.260000,8.050000,186.666667,NaN,NaN
2009-12-31 00:00:00,29.310000,30.2,86.260000,8.440000,180.000000,NaN,NaN
2009-12-31 01:00:00,29.306667,30.2,88.476667,7.670000,193.333333,NaN,NaN
2009-12-31 02:00:00,29.283333,30.2,92.910000,8.830000,190.000000,NaN,NaN
2009-12-31 03:00:00,29.270000,32.0,86.370000,8.060000,193.333333,NaN,NaN
2009-12-31 04:00:00,29.270000,33.2,88.640000,9.210000,203.333333,NaN,NaN
2009-12-31 05:00:00,29.260000,33.8,86.480000,8.440000,210.000000,NaN,NaN
2009-12-31 06:00:00,29.250000,33.8,86.480000,7.670000,213.333333,NaN,NaN
2009-12-31 07:00:00,29.243333,33.8,86.480000,5.370000,220.000000,NaN,NaN
2009-12-31 08:00:00,29.250000,33.8,86.480000,5.370000,220.000000,NaN,NaN
2009-12-31 09:00:00,29.240000,33.8,86.480000,3.830000,223.333333,NaN,NaN
2009-12-31 10:00:00,29.250000,33.8,86.480000,4.220000,223.333333,NaN,NaN
2009-12-31 11:00:00,29.256667,33.8,86.480000,5.370000,226.666667,NaN,NaN
2009-12-31 12:00:00,29.266667,33.8,86.480000,6.523333,253.333333,NaN,NaN
2009-12-31 13:00:00,29.280000,33.8,86.480000,6.523333,260.000000,NaN,NaN
2009-12-31 14:00:00,29.293333,33.8,86.480000,8.050000,263.333333,NaN,NaN
2009-12-31 15:00:00,29.303333,33.8,86.480000,7.670000,283.333333,NaN,NaN
2009-12-31 16:00:00,29.320000,33.8,78.426667,6.910000,276.666667,NaN,NaN
2009-12-31 17:00:00,29.320000,33.8,76.513333,9.586667,276.666667,NaN,NaN
2009-12-31 18:00:00,29.320000,31.4,78.213333,11.886667,273.333333,NaN,NaN
2009-12-31 19:00:00,29.336667,29.6,76.096667,12.653333,256.666667,NaN,NaN
2009-12-31 20:00:00,29.363333,27.2,75.870000,14.190000,266.666667,NaN,NaN
2009-12-31 21:00:00,29.386667,24.8,77.603333,14.200000,270.000000,NaN,NaN
2009-12-31 22:00:00,29.416667,23.6,73.516667,11.893333,276.666667,NaN,NaN
2009-12-31 23:00:00,29.443333,20.6,69.440000,11.513333,286.666667,NaN,NaN